.headings {
    background-color: brown;
    display: flex;
    clip-path: polygon(100% 0, 100% 92%, 95% 100%, 0 100%, 0 0);
}
.confidential {
    text-align: left;
    padding-top: 200px;
    padding-left: 100px;
}
.sub {
    color: white;
    font-size: 70px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.che {
    text-align: right;
}
.app {
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forms {
    padding-top: 60px;
    padding-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type=text], select {
    background-color: brown;
    width: 60%;
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
}
.pl {
    font-size: 6px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Bl {
    display: flex;
    color: white;
    gap: 98px;
    
}
.Btc {
    display: flex;
    color: white;
    gap: 65px;
}
.Bsa {
    display: flex;
    color: white;
    gap: 36px;
}
.Buot {
    display: flex;
    color: white;
    gap: 38px;
}
.Boc {
    display: flex;
    color: white;
    gap: 50px;
}
textarea {
    background-color: brown;
    width: 60%;
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 8px;
    font-display: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input::placeholder, textarea::placeholder {
  color: white;
  opacity: 1;
}
button{
    margin: 20px 0px 60px 0px;
    height:40px;
    width: 55%;
    padding-left: 26px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mission {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
}